			body
			{
				background-image:url(vegetables2.jpg);
			}
			#heading
			{
				text-align:center;
				border-color:blue;
				border-width:10px;
				border-style:solid;
				height:150px;
				width:360px;
				margin-top:20px;
				margin-bottom:80px;
				margin-left:100px;
				padding:10px;
			}
			h1
			{
				color:#4A235A;
				font-size:40px;
			}
			table
			{
				border-color:green;
				border-width:15px;
				border-top-style:solid;
				border-bottom-style:dashed;
				border-left-style:dotted;
				border-right-style:double;
				position:absolute;
				margin-top:20px;
				margin-bottom:80px;
				margin-left:100px;
				width:400px;
			}
			th
			{
				background-color:yellow;
				padding:10px;
				
			}
			#continental
			{
				background-color:#BD8BD2;
				border-color:#16A085;
				border-width:2px;
				border-style:solid;
			}
			#continentalFood
			{
				background-color:#97C52E;
				border-color:#AA21E2;
				border-width:2px;
				border-style:solid;
			}
			#oriental
			{
				background-color:#C5472E;
				border-width:2px;
				border-style:solid;
				border-color:E4A622;
				
			}
			#orientalFood
			{
				background-color:#24CAA2;
				border-width:2px;
				border-style:solid;
				border-color:#EA178D;
			}
			#continentalList
			{
				list-style-type:upper-roman;
			}
			#orientalList
			{
				list-style-type:upper-roman;
				start:2;
			}
			#mediterraneanChoice
			{
				list-style-type:circle;
				color:#AA21E2;
			}
			#europeChoice
			{
				list-style-image: url(sign-check-icon.png);
			}
			#japanChoice
			{
				list-style-type:square;
				color:#EA178D;
			}
			#chinaChoice
			{
				list-style-image:url(iconChina.png);
			}
			#orientalFoodList
			{
				list-style-type:lower-greek;
			}
			#links
			{
				text-align:center;
				height:110px;
				width:300px;
				background-color:red;
				position:relative;
				float:right;
				margin-top:200px;
			}